.filters {
  margin-bottom: 50px;
}

.filters__list {
  @extend %list;

  @media screen and (max-width: $min-tablet) {
    display: flex;
    flex-wrap: wrap;
  }

  @media screen and(min-width: $tablet) {
    @include centeredFlex($align: none);
  }
}

.filters__item:not(:nth-last-child(-n + 2)) {
  @media screen and (max-width: $min-tablet) {
    margin-bottom: 15px;
  }
}

.filters__item:not(:last-child) {
  margin-right: 8px;
}

.filters__button {
  @extend %button;

  padding: 6px 22px;

  color: $primary-text-color;
  background-color: $secondary-bgc;
  box-shadow: none;

  @include titleTextStyle($size: 16px, $height: 1.62);
  font-weight: 500;

  transition: color $transition-time $bezier-function,
    background-color $transition-time $bezier-function,
    box-shadow $transition-time $bezier-function;

  &:hover,
  &:focus {
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
      0px 2px 2px rgba(0, 0, 0, 0.12);

    color: $basic-white;
    background-color: $accent-color;
  }
}
