  $primary-text-color: #212121;
  $secondary-text-color: #757575;
  $accent-color: #2196f3;
  $accent-button-color: #188ce8;
  $primary-bgc: #ffffff;
  $secondary-bgc: #f5f4fa;
  $accent-bgc: #2f303a;
  $basic-white: #ffffff;
  $footer-contacts-color: #ffffff99;
  $hero-reserve-bgc: #c4c4c4;
  $icon-color: #afb1b8;
  $bezier-function: cubic-bezier(0.4, 0, 0.2, 1);
  $transition-time: 250ms;
  
  $font-stack:'Roboto', sans-serif; 
  $font-logo: 'Raleway', sans-serif;


  $mobile: 480px;
  $tablet: 768px;
  $min-tablet: 767px;
  $desktop: 1200px;
  $min-desktop: 1199px;
